.vacancies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    margin: 5vw;
}

.vacancies img {
    width: inherit;
}

.vacancies h2 {
    align-self: center;
    margin: 2vw auto;
}

.vacancies h3 {
    margin: 2vw 0;
}

.vacancies ul {
    padding: 0;
}

.vacancies li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
    width: 90vw;
}

.vacancies span {
    color: #817e7ab4;
    font-weight: bold;
}


.vacancies span a {
    text-decoration-color: transparent;
    color: #39a0a7;
    transition: all 0.4s;
}

.vacancies span a:hover {
    text-decoration-color:#39a0a7;
}

@media screen and (max-width: 640px) {
    .vacancies li {
        flex-direction: column;
        margin-bottom: 4vw;
    }
}