html {
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    color: #817e7a;
    font-size: 1rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}

h1, h2 {
    color: #7d7873;
    text-transform: uppercase;
}

a {
    font-size: 1rem;
}

